BODY
{
}

.h60
{
	height:60px;
}

.h940
{
	height:940px;
}

.w60
{
	width:60px;
}

.w940
{
	width:940px;
}

.w960
{
	width:960px;
}

.w1000
{
	width:1000px;
}

.w1600
{
	width:1600px;
}

.span
{
	float:left;
	margin-left:20px;
}

.gs940 .span1
{
	width:60px;
}

.gs940 .offset1
{
	margin-left:100px;
}

.gs940 XA[class*='span'].button
{
	padding-left:0;
	padding-right:0;
}

.gs940 INPUT[type='text'].span1,
.gs940 INPUT[type='password'].span1
{
	width:50px;
}

.gs940 .span2
{
	width:140px;
}

.gs940 .offset2
{
	margin-left:180px;
}

.gs940 INPUT[type='text'].span2,
.gs940 INPUT[type='password'].span2
{
	width:130px;
}

.gs940 .span3
{
	width:220px;
}

.gs940 INPUT[type='text'].span3,
.gs940 INPUT[type='password'].span3
{
	width:210px;
}

.gs940 .span4
{
	width:300px;
}

.gs940 INPUT[type='text'].span4,
.gs940 INPUT[type='password'].span4
{
	width:290px;
}

.gs940 .span5
{
	width:380px;
}

.gs940 INPUT[type='text'].span5,
.gs940 INPUT[type='password'].span5
{
	width:370px;
}

.gs940 .span6
{
	width:460px;
}

.gs940 INPUT[type='text'].span6,
.gs940 INPUT[type='password'].span6
{
	width:450px;
}

.gs940 .span7
{
	width:540px;
}

.gs940 INPUT[type='text'].span7,
.gs940 INPUT[type='password'].span7
{
	width:530px;
}

.gs940 .span8
{
	width:620px;
}

.gs940 INPUT[type='text'].span8,
.gs940 INPUT[type='password'].span8
{
	width:610px;
}

.gs940 .span9
{
	width:700px;
}

.gs940 INPUT[type='text'].span9,
.gs940 INPUT[type='password'].span9
{
	width:690px;
}

.gs940 .span10
{
	width:780px;
}

.gs940 INPUT[type='text'].span10,
.gs940 INPUT[type='password'].span10
{
	width:770px;
}

.gs940 .span11
{
	width:860px;
}

.gs940 INPUT[type='text'].span11,
.gs940 INPUT[type='password'].span11
{
	width:850px;
}

.gs940 .span12
{
	width:940px;
}

.gs940 INPUT[type='text'].span12,
.gs940 INPUT[type='password'].span12
{
	width:930px;
}

.row
{
	margin-left:-20px;
}

.row:before,
.row:after {
  display: table;
  content: "";
}

.row:after
{
	clear:both;
}

.column
{
	float:left;
	margin-left:20px;
}

.column:first-child
{
	margin-left:0;
}

.grid_rows
{
	position:absolute;
	z-index:-1001;
}

.grid_columns
{
	position:absolute;
	z-index:-1000;
}

.grid_rows .row
{
	background:#f0f0f0;
	margin:0 0 20px 0;
}

.grid_columns .column
{
	background:#f4f4f4;
}

.form_padding
{
	padding:20px;
}
