.menu-vertical > UL
{
	list-style-type:none;
	margin-left:0;
	margin-right:0;
}

.menu-horizontal > UL
{
	display:inline-block;
	list-style-type:none;
	margin:0;
	padding:0;
}

.menu-horizontal > UL > LI
{
	float:left;

	margin-top:0;
	padding:0 5px;
}

.menu-horizontal > UL > LI.nbl:first-child
{
	border-left:none;
}

.menu-left
{
	left:0px;
}

.menu-left > UL > LI:first-child
{
	padding-left:0;
}

.menu-right
{
	right:0px;
}

.menu-right > UL > LI:last-child
{
	padding-right:0;
}

.breadcrumbs OL
{
	display:inline-block;
	list-style-type:none;
	margin:0;
}

.breadcrumbs OL LI
{
	float:left;

	margin-top:0;
	padding:0px 0.4em;
}

.breadcrumbs OL LI:first-child
{
	padding-left:0;
}

.menu-vertical > OL,
.menu-vertical > UL
{
	list-style-type:none;
	margin:0;
	padding:0;
}

.menu-vertical > OL > LI
{
	padding-left:0px;
}

.menu-vertical LI.menu-heading
{
	text-transform:uppercase;
	color:#999;
}

.hidden
{
	display:none;
}

.dropdown:hover,
LI:hover .dropdown
{
	display:block;
}

.show-modal .dropdown:hover,
.show-modal LI:hover .dropdown
{
	display:none;
}

.dropdown
{
	position:absolute;
	z-index:1000;
	top:30px;

	background:white;

	width:340px;
	margin-left:-155px;

	border:solid 1px #eee;
}



/**************************************
 *	Wireframe Style
 **************************************/

#wireframe #breadcrumbs
{
	font-size:11px;
	color:#dbdbdb;
}
